In [45]:
from meteostat import Point, Daily, Hourly
from geopy.geocoders import Nominatim

import datetime

In [4]:
def get_coordinates(city_name):
    geolocator = Nominatim(user_agent="geoapi")
    location = geolocator.geocode(city_name)
    if location:
        return location.latitude, location.longitude
    else:
       
        return None, None

In [5]:
get_coordinates("Ahmedabad")

(23.0215374, 72.5800568)

In [19]:
start = datetime.datetime(2024, 9, 1)
end = datetime.datetime(2025, 1, 6)
location = Point( 23.0215374, 72.5800568)
data = Daily(location, start, end).fetch()

In [23]:
len(data)-100

28

In [22]:
data[28:]

            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2024-09-29  26.8  24.0  31.0   2.1   NaN  254.0   5.3   NaN  1008.6   NaN
2024-09-30  28.5  24.0  33.2   1.1   NaN  329.0   5.7   NaN  1009.4   NaN
2024-10-01  30.2  26.0  35.0   0.0   NaN  295.0   6.6   NaN  1007.5   NaN
2024-10-02  30.6  27.0  35.4   0.0   NaN  262.0   7.4   NaN  1007.6   NaN
2024-10-03  29.5  26.0  33.8   0.0   NaN  245.0   9.9   NaN  1007.5   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-02  21.4  15.0  29.0   0.0   NaN   32.0  11.2   NaN  1015.3   NaN
2025-01-03  21.6  16.0  30.0   0.0   NaN   24.0   6.6   NaN  1014.7   NaN
2025-01-04  22.0  15.0  31.0   0.0   NaN    0.0   6.3   NaN  1013.2   NaN
2025-01-05  20.9  16.4  27.0   0.0   NaN  294.0   7.0   NaN  1012.9   NaN
2025-01-06  19.1  13.0  26.0   0.0   NaN  338.0   7.7   NaN  1015.1   NaN

[100 rows x 10 columns]

In [32]:
# i=3
# 12+(i-1)-3

11

In [48]:
start = datetime.datetime(2025, 1, 6)
end = datetime.datetime(2025, 1, 7)
location = Point( 23.0215374, 72.5800568)
data = Hourly(location, start, end).fetch()

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.

In [49]:
data

,temp,dwpt,rhum,prcp,snow,wdir,wspd,wpgt,pres,tsun,coco
time,,,,,,,,,,,
2025-01-06 00:00:00,13.0,8.1,72.0,0.0,NaN,300.0,6.0,NaN,1014.0,NaN,5.0
2025-01-06 01:00:00,13.0,8.1,72.0,0.0,NaN,340.0,5.5,NaN,1014.0,NaN,5.0
2025-01-06 02:00:00,13.0,8.1,72.0,0.0,NaN,342.0,3.7,NaN,1015.0,NaN,5.0
2025-01-06 03:00:00,14.0,9.0,72.0,0.0,NaN,340.0,6.0,NaN,1016.0,NaN,5.0
2025-01-06 04:00:00,15.0,8.9,67.0,0.0,NaN,360.0,7.0,NaN,1017.0,NaN,5.0
2025-01-06 05:00:00,20.0,9.0,49.0,0.0,NaN,340.0,17.0,NaN,1017.0,NaN,1.0
2025-01-06 06:00:00,23.0,9.0,41.0,0.0,NaN,330.0,9.0,NaN,1016.0,NaN,1.0
2025-01-06 07:00:00,24.0,8.0,36.0,0.0,NaN,360.0,19.0,NaN,1015.0,NaN,1.0
2025-01-06 08:00:00,24.0,7.2,34.0,0.0,NaN,350.0,9.0,NaN,1014.0,NaN,1.0
2025-01-06 09:00:00,25.0,8.1,34.0,0.0,NaN,320.0,13.0,NaN,1013.0,NaN,1.0
2025-01-06 10:00:00,25.0,6.2,30.0,0.0,NaN,20.0,17.0,NaN,1013.0,NaN,1.0
2025-01-06 11:00:00,25.0,6.2,30.0,0.0,NaN,320.0,13.0,NaN,1013.0,NaN,1.0
2025-01-06 12:00:00,23.0,5.9,33.0,0.0,NaN,320.0,6.0,NaN,1013.0,NaN,1.0
2025-01-06 13:00:00,22.0,8.1,41.0,0.0,NaN,310.0,9.0,NaN,1014.0,NaN,1.0
2025-01-06 14:00:00,22.0,8.1,41.0,0.0,NaN,300.0,9.0,NaN,1015.0,NaN,1.0
2025-01-06 15:00:00,21.0,6.9,40.0,0.0,NaN,310.0,9.0,NaN,1015.0,NaN,1.0
2025-01-06 16:00:00,19.0,6.1,43.0,0.0,NaN,330.0,9.0,NaN,1016.0,NaN,1.0
2025-01-06 17:00:00,18.0,7.1,49.0,0.0,NaN,320.0,6.0,NaN,1016.0,NaN,1.0
2025-01-06 18:00:00,18.0,5.9,45.0,0.0,NaN,300.0,6.0,NaN,1016.0,NaN,1.0
2025-01-06 19:00:00,17.0,5.9,48.0,0.0,NaN,360.0,11.0,NaN,1016.0,NaN,1.0
2025-01-06 20:00:00,15.0,6.0,55.0,0.0,NaN,10.0,11.0,NaN,1016.0,NaN,1.0
2025-01-06 21:00:00,15.0,7.1,59.0,0.0,NaN,20.0,15.0,NaN,1016.0,NaN,1.0
2025-01-06 22:00:00,16.0,7.2,56.0,0.0,NaN,14.0,9.3,NaN,1016.6,NaN,1.0
2025-01-06 23:00:00,15.6,7.1,57.0,0.0,NaN,18.0,9.3,NaN,1016.7,NaN,1.0
2025-01-07 00:00:00,15.2,7.0,58.0,0.0,NaN,21.0,7.4,NaN,1016.7,NaN,1.0

In [50]:
data[765:]

Empty DataFrame
Columns: [temp, dwpt, rhum, prcp, snow, wdir, wspd, wpgt, pres, tsun, coco]
Index: []

In [ ]:
from datetime import datetime, timedelta
from meteostat import Point, Hourly, Daily


def calculate_dates(freq="hourly"):
    end_date = datetime.now()  
    if freq == "hourly":
        start_date = end_date - timedelta(hours=100) 
    elif freq == "daily":
        start_date = end_date - timedelta(days=100)  
    else:
        raise ValueError("Invalid frequency. Use 'hourly' or 'daily'.")
    return start_date, end_date


location = Point(23.0215374, 72.5800568)  


start_hourly, end_hourly = calculate_dates(freq="hourly")
hourly_data = Hourly(location, start_hourly, end_hourly).fetch()
print(f"Hourly Data Rows: {len(hourly_data)}")
print(hourly_data)

# For daily data
start_daily, end_daily = calculate_dates(freq="daily")
daily_data = Daily(location, start_daily, end_daily).fetch()
print(f"Daily Data Rows: {len(daily_data)}")
print(daily_data)

Hourly Data Rows: 100
                     temp  dwpt  rhum  prcp  snow   wdir  wspd  wpgt    pres  \
time
2025-01-03 15:00:00  23.0  12.0  50.0   0.0   NaN  360.0   7.0   NaN  1014.0
2025-01-03 16:00:00  21.0  12.9  60.0   0.0   NaN  350.0   6.0   NaN  1014.0
2025-01-03 17:00:00  19.0  13.0  68.0   0.0   NaN   20.0   6.0   NaN  1014.0
2025-01-03 18:00:00  19.0  14.1  73.0   0.0   NaN   10.0   4.0   NaN  1014.0
2025-01-03 19:00:00  18.0  13.1  73.0   0.0   NaN  360.0   4.0   NaN  1014.0
...                   ...   ...   ...   ...   ...    ...   ...   ...     ...
2025-01-07 14:00:00  19.0   9.2  53.0   0.0   NaN   20.0   3.7   NaN  1016.2
2025-01-07 15:00:00  16.9   9.8  63.0   0.0   NaN   14.0   3.7   NaN  1016.6
2025-01-07 16:00:00  16.1  10.4  69.0   0.0   NaN   18.0   3.7   NaN  1016.8
2025-01-07 17:00:00  15.2   9.5  69.0   0.0   NaN   20.0   3.7   NaN  1017.0
2025-01-07 18:00:00  14.2   8.8  70.0   0.0   NaN   21.0   5.5   NaN  1017.2

                     tsun  coco
time
2025-01-03 15:00:00   NaN   1.0
2025-01-03 16:00:00   NaN   1.0
2025-01-03 17:00:00   NaN   5.0
2025-01-03 18:00:00   NaN   5.0
2025-01-03 19:00:00   NaN   5.0
...                   ...   ...
2025-01-07 14:00:00   NaN   1.0
2025-01-07 15:00:00   NaN   1.0
2025-01-07 16:00:00   NaN   1.0
2025-01-07 17:00:00   NaN   1.0
2025-01-07 18:00:00   NaN   1.0

[100 rows x 11 columns]
Daily Data Rows: 100
            tavg  tmin  tmax  prcp  snow   wdir  wspd  wpgt    pres  tsun
time
2024-09-30  28.5  24.0  33.2   1.1   NaN  329.0   5.7   NaN  1009.4   NaN
2024-10-01  30.2  26.0  35.0   0.0   NaN  295.0   6.6   NaN  1007.5   NaN
2024-10-02  30.6  27.0  35.4   0.0   NaN  262.0   7.4   NaN  1007.6   NaN
2024-10-03  29.5  26.0  33.8   0.0   NaN  245.0   9.9   NaN  1007.5   NaN
2024-10-04  29.1  26.0  33.6   0.0   NaN  219.0   9.4   NaN  1007.8   NaN
...          ...   ...   ...   ...   ...    ...   ...   ...     ...   ...
2025-01-03  21.6  16.0  30.0   0.0   NaN   24.0   6.6   NaN  1014.7   NaN
2025-01-04  22.0  15.0  31.0   0.0   NaN    0.0   6.3   NaN  1013.2   NaN
2025-01-05  20.9  16.4  27.0   0.0   NaN  294.0   7.0   NaN  1012.9   NaN
2025-01-06  19.1  13.0  26.0   0.0   NaN  338.0   7.7   NaN  1015.1   NaN
2025-01-07  18.1  14.0  24.1   0.0   NaN   29.0   7.9   NaN  1017.6   NaN

[100 rows x 10 columns]

FutureWarning: 'H' is deprecated and will be removed in a future version, please use 'h' instead.

In [43]:

def modelPrediction(data_for_model,forecast_duration,window_size=100,freq="Hourly"):
        
   if freq=="Hourly":
        scaler=pkl.load(open(r"C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Hourly\StandardScaler\StandardScaler_hourly.pkl","rb"))
        hourly_model=load_model("C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Hourly\StandardScaler\temperature_best_Standard_Hourly.keras")

        data_for_model=scaler.transform(np.array(data_for_model["temp"].values).reshape(-1,1))
        data_for_model=data_for_model.reshape(1,100,1)
        data_for_model=data_for_model.flatten()


        output=[]
        for i in range(forecast_duration):
            print(data_for_model)

            prediction = hourly_model.predict(np.array(data_for_model).reshape(-1, window_size, 1))
            
            output.append(prediction)
            data_for_model = np.append(data_for_model[1:], prediction)


        return  list(np.array(output).flatten())
   elif freq=="Daily":
        scaler_min=pkl.load(open(r"C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Daily\temperature_best_min\StandardScaler\StandardScaler_min.pkl","rb"))
        daily_min_model=load_model("C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Daily\temperature_best_min\StandardScaler\temperature_best_min_StandardScaler.keras")

        scaler_max=pkl.load(open(r"C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Daily\temperature_best_max\StandardScaler\StandardScaler.pkl","rb"))
        daily_max_model=load_model("C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Daily\temperature_best_max\StandardScaler\temperature_best_max_StandardScaler.keras")

        scaler_avg=pkl.load(open(r"C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Daily\temperature_best_avg\StandardScaler\MinMax_Avg.pkl","rb"))
        daily_avg_model=load_model("C:\Users\Jainam Harsh\OneDrive\Desktop\Weather_forecasting\Models\Daily\temperature_best_avg\StandardScaler\temperature_best_avg.keras")

        data_for_model_min=scaler_min.transform(np.array(data_for_model["tmin"].values).reshape(-1,1))
        data_for_model_max=scaler_max.transform(np.array(data_for_model["tmax"].values).reshape(-1,1))
        data_for_model_avg=scaler_avg.transform(np.array(data_for_model["tavg"].values).reshape(-1,1))

        data_for_model_min=data_for_model_min.reshape(1,100,1)
        data_for_model_min=data_for_model_min.flatten()

        data_for_model_max=data_for_model_max.reshape(1,100,1)
        data_for_model_max=data_for_model_max.flatten()

        data_for_model_avg=data_for_model_avg.reshape(1,100,1)
        data_for_model_avg=data_for_model_avg.flatten()


        output_min=[]
        for i in range(forecast_duration):
        

            prediction = daily_min_model.predict(np.array(data_for_model_min).reshape(-1, window_size, 1))
            
            output_min.append(prediction)
            data_for_model_min = np.append(data_for_model_min[1:], prediction)

        output_max=[]
        for i in range(forecast_duration):
       

            prediction = daily_max_model.predict(np.array(data_for_model_max).reshape(-1, window_size, 1))
            
            output_max.append(prediction)
            data_for_model_max = np.append(data_for_model_max[1:], prediction)

        output_avg=[]
        for i in range(forecast_duration):

            prediction = daily_avg_model.predict(np.array(data_for_model_avg).reshape(-1, window_size, 1))
            
            output_avg.append(prediction)
            data_for_model_avg = np.append(data_for_model_avg[1:], prediction)


        return  list(np.array(output_min).flatten()),list(np.array(output_max).flatten()),list(np.array(output_avg).flatten())

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 21)

In [ ]:
from keras.models import load_model